body{
  background-color: #95BBED;
}

#contactButton{
  background-color: #00316B;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

#contactUs .panel-body > p{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.panel-heading{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background-color: #00316B !important;
  color: white !important;
}

.homeImage{
  width: 500px;
  height: 350px;
}
.navbar-inverse{
  border-radius: 0;
}

.navbar-inverse .navbar-nav>li>a{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
}
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:active{
  background-color:  #808080;
}

.jumbotron{
  background-color: #00316B;
  margin: 0 0 0 0;
}

.jumbotron > p{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 23px;
}
